
.row.content {
    height: 710px

}
.container{
    border:1px solid #cecece;
    margin-top: 1em;
}
       
.sidenav {
   padding-top: 20px;
   background-color: black;
   height: 100%;
   color:white;
}

.well{
    background-color: bisque;
    color: black;
     margin-top: 1em;
}
.jumbotron{
    background-color: red;
    color: white;
    background-size: 100% 100%;
    margin-top: 1em;
}
 @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }