html { 
    
}
form {
   
}
.container{
    border:1px solid #cecece;
    margin-top: 1em;
    background: url(/Images/book.jpg) no-repeat center fixed; 
    background-size: cover;
    color:white;
}
.jumbotron{
    background-color:red;
    color: white;
    background-size: 100% 100%;
    margin-top: 1em;
}

