html { 
    
}
form {
   
}
.container{
    border:1px solid #cecece;
    margin-top: 1em;
}
.jumbotron{
    background: url(/Images/StudentRecords.gif);
    color: white;
    background-size: 100% 100%;
    margin-top: 1em;
}
.individualCoursesCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:100%;
    border:solid;
    padding: 2px 20px;
}
.container {
    padding: 2px 16px;
}
